/*----------- GLOBAL VARIABLES ----------*/

$primary: #00568e;
$regColor: #9c9c9c;
$registrationFont: #bcbfc4;

/*--------- END GLOBAL VARIABLES --------*/

h1 {
  color: $primary;
}





/*---- index.html ----*/
.customNav {
  height: 50px;
  background-color: #007a6e;
  border-bottom: 1px solid #039e8f;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.5);
}

.logoWord1 {
  font-size: 20px;
  font-weight: bolder;
  color: #fff;
}

.logoWord2 {
  font-size: 20px;
  font-weight: 300;
  color: #fff;
}

.navbar-inverse .navbar-nav>li>a {
  padding: 15px 30px;
  color: #fff;
}

.navbar-inverse .navbar-nav>li>a:hover {
  padding: 15px 29px;
  color: #fff;
  background-color: #004048;
  border-left: 1px solid #039e8f;
  border-right: 1px solid #039e8f;
}






/*---- home.html partial ----*/

.backgroundImage {
  margin-top: 50px;
  min-height: 753px;
  background: linear-gradient(
      rgba(0, 0, 0, 0.05),
      rgba(0, 0, 0, 0.05)
    ),
    url("../images/background1.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.backgroundImage img {
  margin-top: 200px;
  width: 100%;
}

.lgBtn {
  display: block;
  text-align: center;
  font-size: 24px;
  width: 340px;
  height: 60px;
  margin: 30px auto;
  padding-top: 12px;
  background-color: #008295;
  border-radius: 30px;
  border: none;
  font-size: 24px;
  color: #fff;
  box-shadow: 4px 4px 8px rgba(40, 40, 40, 0.65);
  transition: .2s ease-in-out;
}

.lgBtn:hover {
  text-decoration: none;
  color: #fff;
  background-color: #005166;
}

.lgBtn:active {
  position: relative;
  top: 2px;
  color: #fff;
  background-color: #023745;
  box-shadow: 2px 2px 4px rgba(40, 40, 40, 0.65);
}







/*---- login.html partial ----*/
.loginBackground {
  margin-top: 50px;
  min-height: 753px;
  background: linear-gradient(
      rgba(0, 0, 0, 0.05),
      rgba(0, 0, 0, 0.05)
    ),
    url("../images/background2.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.quoteText {
  margin-top: 20px;
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
}

.loginDiv {
  margin-top: 170px;
}

// .welcomeText {
//   font-size: 72px;
//   color: #8b205f; //4c1450  26bad3
//   text-shadow: 2px 2px 4px rgba(32, 32, 32, 0.5);
// }

.login-wall {
    width: 80%;
    margin-left: 10%;
    margin-top: 30px;
    padding: 40px 0 25px 0;
    background-color: rgba(#360934, 0.45);
    border: 3px solid rgba(#360934, 0.75);
    border-radius: 15px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
    box-shadow: 6px 6px 12px rgba(0, 0, 0, 0.4);
}

.loginHeader i {
  float: left;
  font-size: 60px;
  margin-left: 40px;
  margin-right: 20px;
  color: rgba(#fff, 1);
}

.loginHeader h2 {
  margin: 0;
  margin-top: 5px;
  font-weight: 400;
  color: rgba(#fff, 1);
}

.loginHeader p {
  font-weight: 300;
  letter-spacing: 1.15px;
  color: rgba(#fff, 1);
}

.usernameInput {
  margin-top: 15px;
  width: 100%;
}

.loginBtnStyle {
  border-radius: 5px;
  margin-top: 30px;
  background: #48efd2;
  transition: .3s ease-in-out;
}

.loginBtnStyle:hover {
  background-color: #31b69f;
}

.new-account {
    display: block;
    font-weight: 200;
    letter-spacing: 1.15px;
    margin-top: 10px;
    color: rgba(#ffffff, 1);
    transition: .3s ease-in-out;
}

.new-account:hover {
  color: #48efd2;
  text-decoration: none;
}

input.form-control,input.form-control:focus {
    box-shadow: none;
   -webkit-box-shadow: none;
   -moz-box-shadow: none;
   -moz-transition: none;
   -webkit-transition: none;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.profile-img {
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.input-group span i {
  font-size: 18px;
  margin-bottom: 4px;
}

.loginInputStyle {
  background-color: #360934;
  color: #fff;
  border: 1px solid #360934;
}








/*---- register.html partial ----*/
.registerBackground {
  margin-top: 50px;
  min-height: 753px;
  background: linear-gradient(
      rgba(0, 0, 0, 0.05),
      rgba(0, 0, 0, 0.05)
    ),
    url("../images/background4.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.registerDiv {
  margin-top: 50px;
}

.reg-wall {
    width: 80%;
    margin-left: 10%;
    margin-top: 30px;
    padding: 40px 0 20px 0;
    background-color: rgba(#05182d, 0.45);
    border: 3px solid rgba(#05182d, 0.75);
    border-radius: 15px;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
    box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.5);
}

.regHeader i {
  float: left;
  font-size: 60px;
  margin-left: 40px;
  margin-right: 15px;
  color: #fff;
}

.regHeader h2 {
  margin: 0;
  margin-top: 5px;
  font-weight: 400;
  color: rgba(#fff, 1);
}

.regHeader p {
  font-weight: 300;
  letter-spacing: 1.15px;
  color: rgba(#fff, 1);
}

.form-register {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-register label {
    font-weight: normal;
    color: $regColor;
}

.form-register input {
  margin-bottom: 15px;
}

.form-register select {
  margin-bottom: 30px;
}

.btn-file {
  margin-top: 20px;
}

.regBtn {
  width: 100%;
  border-radius: 5px;
  background: #48efd2;
  transition: .3s ease-in-out;
}

.regBtn:hover {
  background-color: #31b69f;
}

.regInputStyle {
  background-color: #05182d;
  color: #fff;
  border: 1px solid #05182d;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #05182d inset;
    color: #fff;
}














/*---- adminDashboad.html partial ----*/
.adminDashboardDiv {
  margin-top: 80px;
}

.formDiv {
  margin-top: 30px;
  margin-bottom: 30px;
}

.input-add {
  height: 40px;
}

.glyphicon {
  font-size: 16px;
  margin-bottom: 6px;
}

.btn-add {
  height: 40px;
  width: 38px;
  transition: .3s ease-in-out;
}

.listDisplayDiv {
  margin-top: 20px;
}

.listItemDivs {
  margin-bottom: 15px;
}

.listItem {
  margin-left: 20px;
}

.deleteBtn {
  position: relative;
  top: -10px;
  right: -15px;
  margin-left: 5px;
  font-weight: 300;
  font-size: 14px;
  color: #fff;
  padding: 8px 14px 9px 14px;
  border-left: 1px solid rgb(210, 210, 210);
  background-color: rgb(220, 220, 220);
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  overflow: hidden;
  transition: .3s ease-in-out;
}

.deleteBtn:hover {
  background-color: rgb(179, 103, 103);
}

.panel-body {
  padding: 40px 40px 20px 40px;
}

.wordTable {
  margin-top: 20px;
}

.spellingWordTitle {
  width: 72%;
}

.play {
  width: 10%;
}

.edit {
  width: 8%;
}

.delete {
  width: 10%;
}

.play {
  margin-left: 9px;
  cursor: pointer;
  color: #6ca269;
}

.pencil {
  margin-left: 9px;
  cursor: pointer;
  color: #696fa2;
}

.trashcan {
  margin-left: 17px;
  cursor: pointer;
  color: #a17c7c;
}

.createdDate {
  margin-top: 3px;
  font-weight: 400;
  font-size: 12px;
  color: rgb(172, 172, 172);
}








/*---- StudentDashboad.html partial ----*/

.studentDashboardDiv {
  margin-top: 80px;
}

.studentDashBackgroundImg {
    margin-top: 50px;
    min-height: 760px;
    background: linear-gradient(
        rgba(0, 0, 0, 0.05),
        rgba(0, 0, 0, 0.05)
      ),
      url("../images/background3.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}



/*---- Student Dashboard Sidebar ----*/

#wrapper {
  margin-top: 50px;
  padding-left: 250px;
  transition: all 0.4s ease 0s;
}

#sidebar-wrapper {
  margin-left: -250px;
  left: 250px;
  width: 250px;
  background: #CCC;
  background-color: rgba(#2b2b2b, 1);
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  transition: all 0.4s ease 0s;
}

#page-content-wrapper {
  width: 100%;
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.profilePic {
  width: 150px;
  height:150px;
  border-radius: 50%;
  margin: 30px 50px 5px 50px;
  background-color: #fff;
  box-shadow: 1px 1px 12px #171717;
}

.sidebar-brand h3 {
  color: #a3f2ce;
}

.sidebar-brand p {
  color: #a3f2ce;
  margin-bottom: 25px;
}

.collectionBtn {
  color: #e5f2d4;
  width: 100%;
  background: none;
  border: none;
  padding: 15px 0;
}

.collectionBtn:focus {
  outline: none;
}

.collectionBtn:hover {
  border-left: 8px solid #cadd72;
  border-right: 8px solid #161515;
  background-color: rgba(#161515, 1);
  color: #cadd72;
}

@media (max-width:767px) {

    #wrapper {
      padding-left: 0;
    }

    #sidebar-wrapper {
      left: 0;
    }

    #wrapper.active {
      position: relative;
      left: 250px;
    }

    #wrapper.active #sidebar-wrapper {
      left: 250px;
      width: 250px;
      transition: all 0.4s ease 0s;
    }

}

.input-group-addon, .input-group-btn {
    width: 1%;
    white-space: nowrap;
    vertical-align: bottom;
}

.quizCollectionDiv {
  margin-top: 200px;
  text-align: center;
  width: 100%;
  min-height: 200px;
}

.quizCollectionDiv h3 {
  display: block;
  font-size: 52px;
  color: #355055;
}

.quizCollectionDiv h4 {
  display: block;
  font-size: 38px;
  color: #355055;
}

.startQuizBtn {
  display: block;
  width: 50%;
  margin: 30px auto;
  height: 60px;
  font-size: 24px;
  background-color: #421649;
  border-color: #421649;
  color: #a4779e;
  border-radius: 30px;
  box-shadow: 4px 4px 8px rgba(40, 40, 40, 0.65);
  transition: all 0.2s ease 0s;
}

.startQuizBtn:hover {
  background-color: #835188;
  border-color: #835188;
  color: #421649;
}

.startQuizBtn:active:focus {
  position: relative;
  top: 2px;
  color: #421649;
  background-color: #835188;
  border-color: #835188;
  box-shadow: 2px 2px 4px rgba(40, 40, 40, 0.65);
  background-image: none;
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.quizSectionDiv {
  margin-top: 130px;
  width: 100%;
  height: auto;
  padding: 20px 20px 30px 20px;
  background-color: rgba(#dce2b6, 0.55);
  border-radius: 15px;
  border: 3px solid #e5f2d4;
  box-shadow: 4px 4px 8px rgba(40, 40, 40, 0.65);
}

.quizSectionDiv h3 {
  color: #355055;
  font-size: 52px;
}

.quizSectionDiv h4 {
  color: #355055;
  font-size: 38px;
}

.quizSectionDiv input {
  width: 98%;
  height: 70px;
  margin: 20px auto 20px auto;
  padding-left: 20px;
  font-size: 26px;
  border-radius: 15px;
  color: #4c0046;
  border: 3px solid #e5f2d4;
}

.quizSectionDiv input[type="text"]::-webkit-input-placeholder {
  color: #c9c9c9;
}

.quizSectionDiv i {
  margin-right: 10px;
}

.apiBtns button {
  margin: 0;
  width: 32%;
  height: 50px;
  font-size: 20px;
  border-radius: 25px;
  border: none;
  color: #fff;
  background-color: #46a57d;
  box-shadow: 2px 2px 4px rgba(40, 40, 40, 0.65);
  transition: .2s ease-in-out;
}

.apiBtns button:hover {
  color: #fff;
  background-color: #358664;
}

.apiBtns button:active:focus {
  position: relative;
  top: 2px;
  color: #fff;
  background-color: #236147;
  box-shadow: 1px 1px 2px rgba(40, 40, 40, 0.65);
  background-image: none;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.removeFocus:focus {
  outline: none;
}

.checkSpellingBtn {
  width: 100%;
  height: 50px;
  font-size: 20px;
  border-radius: 25px;
  border: none;
  margin: 30px 0 0 0;
  color: #fff;
  background-color: #663b70;
  box-shadow: 2px 2px 4px rgba(40, 40, 40, 0.65);
  transition: .2s ease-in-out;
}

.checkSpellingBtn:hover {
  color: #fff;
  background-color: #4b2b53;
}

.checkSpellingBtn:active {
  position: relative;
  top: 2px;
  color: #fff;
  background-color: #371f3c;
  box-shadow: 1px 1px 2px rgba(40, 40, 40, 0.65);
}

.input-check-word {
  display: block;
  width: 100%;
}

.quizBtnGroup {
  margin-top: 15px;
}

.quizBtnGroup button {
  width: 32%;
}

.quizNextBtn button {
  margin-top: 30px;
  width: 50%;
}

.inactive {
  color: #525252;
  pointer-events: none;
  cursor: default;
}
