<div class="registerBackground">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="registerDiv">

              <div class="reg-wall">
                <div class="regHeader">
                  <i class="fa fa-user-plus regIcon" aria-hidden="true"></i>
                  <h2 >Sign up now</h2>
                </div>

                  <div class="fieldNote">
                    <p><span>*</span> All fields are required.</p>
                  </div>

                  <form class="form-register" name="empForm">

                    <input id="reg-fname" type="text" ng-value="fname" class="usernameInput regInputStyle removeFocus" name="fname" value="fnameIn" placeholder="First Name" ng-model="dc.fnameIn" autocomplete="off" required >

                    <input id="reg-lname" type="text" ng-value="lname" class="regInputStyle removeFocus" name="lname" value="lnameIn" placeholder="Last Name" ng-model="dc.lnameIn" autocomplete="off" required>

                    <input id="reg-email" type="email" ng-value="email" class="regInputStyle removeFocus" name="email" value="emailIn" placeholder="Email" ng-model="dc.emailIn" autocomplete="off" required>

                    <input id="reg-username" type="text" ng-value="username" class="regInputStyle removeFocus" name="username" value="usernameIn" placeholder="Username" ng-model="dc.usernameIn" autocomplete="off" required>

                    <input id="reg-password" type="password" ng-value="password" class="regInputStyle removeFocus" name="password" value="passwordIn" placeholder="Password" ng-model="dc.passwordIn" autocomplete="off" required>

                    <input id="reg-passConfirm" type="password" ng-value="passConfirm" class="regInputStyle removeFocus" name="passConfirm" value="passwordConfirmIn" placeholder="Confirm Password" ng-model="dc.passwordConfirmIn" autocomplete="off" required>

                    <select id="grade" class="form-control dropdownStyle removeFocus" ng-value="gradeIn" ng-model="dc.gradeIn" name="gradeDropdown" required>
                      <option class="dropdownSelected" value="" selected disabled>Select your current grade...</option>
                      <option value="Kindergarten">Kindergarten</option>
                      <option value="1st Grade">1st Grade</option>
                      <option value="2nd Grade">2nd Grade</option>
                      <option value="3rd Grade">3rd Grade</option>
                      <option value="4th Grade">4th Grade</option>
                      <option value="5th Grade">5th Grade</option>
                      <option value="6th Grade">6th Grade</option>
                      <option disabled>──────────</option>
                      <option value="teacher">Teacher</option>
                      <option value="parent">Parent</option>
                    </select>

                    <!-- * OPTIONAL * upload image file -->
                    <!-- <p><span class="btn btn-file" ng-model="dc.imageIn"><input type="file"/></span></p> -->

                    <button type="submit" class="regBtn removeFocus" ng-click="dc.registerUser()" name="registrationButton" ng-disabled="empForm.$invalid" ng-if="!empForm.$invalid">REGISTER</button>

                  </form>
                <a href="#!/login" class="text-center new-account">Back to Login</a>
              </div> <!-- end of account-wall -->


        </div>
      </div>
    </div>
  </div>
</div>
